body {
    color: $color-grey-dark;
    font-size: 1.6rem;
}

.heading-primary {
    margin-bottom: 6rem;

    &__main {
        font-size: 6rem;
        display: block;
        font-weight: 400;
        letter-spacing: .8rem;
        animation: moveInLeft 1s ease-in-out;
        backface-visibility: hidden;

    }

    &__sub {
        font-size: 3rem;
        letter-spacing: .5rem;
        display: block;
        animation: moveInRight 1s ease-in-out;
    }
}

.heading-secondary {
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, $color-secondary, $color-primary);
    display: inline-block;
    -webkit-background-clip: text;
    transition: all .2s;
    font-weight: 700;
    text-transform: uppercase;


    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0 1rem 2rem rgba(#000000, .4);
    }
}

.heading-tertiary {
    font-size: 2rem;
}