.bt {

    &:link,
    &:visited {
        background-color: #fff;
        color: #000 !important;
        padding: 1.5rem 3rem;
        border-radius: 10rem;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        transition: all 0.2s;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1.5rem 2rem rgba(#000000, 0.2);
        text-decoration: none;

        &::after {
            transform: scaleY(1.6) scaleX(1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba(#000000, 0.2);
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.2s;
        z-index: -1;
        background-color: #fff;
        border-radius: 10rem;
    }


    &-animated {
        animation: moveInBottom 1s ease-in-out;
        animation-fill-mode: backwards;
    }
}